@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

}

@theme {
--color-cove-50: #f4f7fa;
--color-cove-100: #e5ebf4;
--color-cove-200: #d1dcec;
--color-cove-300: #b1c6df;
--color-cove-400: #8ca9ce;
--color-cove-500: #6a88be;
--color-cove-600: #5d76b3;
--color-cove-700: #5265a3;
--color-cove-800: #475586;
--color-cove-900: #3d486b;
--color-cove-950: #282d43;

--color-oasis-50: #fef9ee;
--color-oasis-100: #fcecca;
--color-oasis-200: #fadfae;
--color-oasis-300: #f6c77b;
--color-oasis-400: #f1a646;
--color-oasis-500: #ed8b22;
--color-oasis-600: #de7118;
--color-oasis-700: #b85716;
--color-oasis-800: #934519;
--color-oasis-900: #763a18;
--color-oasis-950: #401c0a;

--color-custom-100: #0D1321;
--color-custom-200: #2D3142;
--color-custom-300: #4A5568;
--color-custom-400: #7C8595;
--color-custom-500: #A3ABBA;

--color-ntb-50: #e9fbff;
--color-ntb-100: #cef5ff;
--color-ntb-200: #a7efff;
--color-ntb-300: #6beaff;
--color-ntb-400: #26d8ff;
--color-ntb-500: #00b4ff;
--color-ntb-600: #008aff;
--color-ntb-700: #006fff;
--color-ntb-800: #005fe6;
--color-ntb-900: #0055b3;
--color-ntb-950: #004286;

--color-malachite-500: #34c917;

}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  @apply font-sans;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}